.grid-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) );
    grid-template-rows: 100px 1fr 100px;
    row-gap: 1em;
    column-gap: 1em;
    height: 100vh;
}

.item {
    background-color: aqua;
    border: 1px solid blue;
    display: inline-block;

}
