h1 {
    color: blue;
    background-color: darkturquoise;
}

p {
    color: #DEAA79;
}

button {
    color: rgb(23,233,145);
}

input {
    background-color: #DEAA79;
}

h2 {
    color: #659287;
    background-color: rgb(101, 146, 135);
}

html {
    background-color: beige;
}

input {
    color: red;
}